{% extends "layout.twig" %}

{% block title %}404 Not Found{% endblock %}

{% block content %}
    <section class="blog-area section">
        <div class="container">
            <div class="row">
                <h1>404 Not FOUND</h1>
                <p>L'url {{ url }} n'existe pas </p>
            </div>
        </div>
    </section>

    <script src="vue/common-js/jquery-3.1.1.min.js"></script>
    <script src="vue/common-js/tether.min.js"></script>
    <script src="vue/common-js/bootstrap.js"></script>
    <script src="vue/common-js/scripts.js"></script>

{% endblock %}
