{% extends "layout.twig" %}

{% block title %} Ajout d'un post {% endblock %}

{% block stylesheets %}
    <style>
        .style {
            text-indent: 30%;
        }
    </style>
{% endblock %}

{% block content %}
    <section class="blog-area section">
        <div class="container">
            <div class="row">
                {% include '_newPost.twig' %}
            </div>
        </div>
    </section>
    </center>

    <script>
        var loadFile = function (event) {
            var file = document.getElementById('output');
            file.src = URL.createObjectURL(event.target.files[0]);
        };
    </script>

{% endblock %}
