<form action="public?p=addPost/add" method="post" enctype="multipart/form-data" style="margin-left: 25em;">
    <div class="col-lg-4 col-md-6" style="width: 370px">
        <div class="card h-100">
            <div class="single-post post-style-1">
                <div class="blog-image">
                    <img id="output" width="200"/>
                </div>
                <input type="text" size="40" placeholder="Titre" name="titre" id="titre">
                </br>
                </br>
                <input type="text" size="40" placeholder="Chapo" name="chapo" id="chapo">
                </br>
                </br>
                <textarea rows="5" cols="40" placeholder="Descriptif" name="descriptif" id="descriptif"></textarea>
                </br>
                </br>
                <input type="file" name="file" id="file" onchange="loadFile(event)">
                </br>
                <input type="submit" name="Upload" value="Valider">
                <div class="blog-info">
                </div>
            </div>
        </div>
    </div>

</form>
