<form action="public?p=addPost/add" method="post" enctype="multipart/form-data">
    <div class="col-lg-4 col-md-6" style="width: 370px">
        <div class="card h-100">
            <div class="single-post post-style-1">
                <div class="blog-image">
                    <img id="output" width="200"/>
                </div>
                <input type="text" placeholder="titre" name="titre" id="titre">
                </br>
                </br>
                <input type="text" placeholder="chapo" name="chapo" id="chapo">
                </br>
                </br>
                <input type="date" placeholder="date_mjr" name="date_mjr" id="date_mjr">
                </br>
                </br>
                <input type="date" placeholder="date_modif" name="date_modif">
                </br>
                </br>
                <input type="file" name="file" id="file" onchange="loadFile(event)">
                <input type="submit" name="Upload" value="Upload">
                <div class="blog-info">
                </div>
            </div>
        </div>
    </div>

</form>
