{% extends "layout.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="./css/form.css"/>
{% endblock %}

{% block title %}Inscription {% endblock %}

{% block content %}
    <div class="style">
        <form method="POST" action="public?p=inscription" id="formulaire" name="formulaire">
            <div class="container">
                <div class="brand-logo"></div>
                <div class="brand-title">inscription</div>
                <div class="inputs">
                    <label>NOM</label>
                    <input type="text" placeholder="Nom" name="nom"
                           {# onclick="ValidateEmail(document.formulaire.username)">#}
                    <label>PRENOM</label>
                    <input type="text" placeholder="Prenom" name="prenom" id="prenom">
                    <label>EMAIL</label>
                    <input type="text" placeholder="Adresse e-mail" name="mail"
                    {# onclick="ValidateEmail(document.formulaire.username)">#}
                    <label>MOT DE PASSE</label>
                    <input type="password" placeholder="Mot de passe" name="password" id="password">
                    </br>
                    <button type="submit" name="inscription" class="btn">Inscription</button>
                    <br>
                </div>
            </div>
            <button class="boutton">
                <a href="public?p=connexion">Se connecter</a>
            </button>
        </form>
        {{ prenom }}
    </div>

    {# Verification password #}
    {# <script>
        let formulaire = document.getElementById('formulaire');

        formulaire.addEventListener('input', function (e) {
            let password = document.getElementById('password');
            let caracteres = /^[a-zA-Z-0-9]+$/;

            if (password.value.trim() == "") {
                let erreur = document.getElementById('erreur');
                erreur.innerHTML = "Le champs password est requis.";
                erreur.style.color = 'red';
                e.preventDefault();
            } else if (caracteres.test(password.value) == false) {
                let erreur = document.getElementById('erreur');
                erreur.innerHTML = "Le password doit comporter des lettres, des chiffres et des tirets.";
                erreur.style.color = 'red';
                e.preventDefault();
            }
        });


        function ValidateEmail(inputText) {
            var mailformat = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
            if (inputText.value.match(mailformat)) {
                let erreur = document.getElementById('erreur');
                erreur.innerHTML = "Adresse mail valide.";
                erreur.style.color = 'green';
                // alert("Valid email address!");
                document.formulaire.username.focus();
                return true;
            } else {
                let erreur = document.getElementById('erreur');
                erreur.innerHTML = "Adresse mail invalide.";
                erreur.style.color = 'red';
                // alert("You have entered an invalid email address!");
                document.formulaire.username.focus();
                return false;
            }
        }

    </script>#}

{% endblock %}
